spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth-service-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:/db/migration/postgresql
  application:
    name: auth-service
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8081

app:
  secret-key: 878c7ee2d9b4d600fc39cd098e2d76338388e5712722b62ec976f5ffd84cd688191e5b69
  jwt-expiration-ms: 86400000
  

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true