server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: tiket-service
          uri: http://localhost:8081
          predicates:
            - Path=/tiket-service/**
        - id: payment-service
          uri: http://localhost:8082
          predicates:
            - Path=/payment-service/**
  application:
    name: api-gateway



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true