server:
  port: 8761

spring:
  application:
    name: service-discovery

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true